<!DOCTYPE html>
<html lang='en'>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<link rel='stylesheet' href="{{ url_for('static', filename='funbox.css') }}">
	<link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="{{ url_for('static', filename='email.js') }}"></script>
	<title>Funbox Email Confirmation</title>
</head>
<body class='blue'>
	<h2>Email successfully confirmed! Redirecting to account in 5 seconds...</h2>
	<a href='./account'>or click here to redirect now</a>
</body>
</html>

